# IDE
.idea/

# Dependances / build (les sources des apps sont vendorisees dans app/)
app/react-redux-realworld-example-app/node_modules/
app/spring-boot-realworld-example-app/.gradle/
app/spring-boot-realworld-example-app/build/
app/spring-boot-realworld-example-app/dev.db
app/spring-boot-realworld-example-app/gradle.properties
